<!-- Hero Unit -->
<div class="form-group">
  <div class="col-md-12">
    <% if !flash.empty? %>
        <div class="alert alert-success"> <%= notice %></div>
    <% end  %>
  </div>
</div>

<div class="row center">
  <div class="col-md-12">

    <div class="bor"></div>

    <h2>Welcome to Bread From Heaven Christian Fellowship</h2>
    <p>The Bread From Heaven Christian Fellowship, Inc. is an independent, Christian and Reformed Evangelical congregation. Member of the Philippine Council of Evangelical Churches (PCEC).</p>
    <div class="bor"></div>
    <hr />
  </div>
</div>

<!-- Hero Ends -->

<div class="blog home message">
  <div class="row">
    <div class="col-md-12">
      <h3 class="bg-blue">Senior Pastor's Corner</h3>
      <div class="bor"></div>
      <% if user_signed_in? %>

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Add New Post
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="cwell">
                        <!-- Contact form -->
                        <div class="form">


                          <%= form_for @post, html: {class: "form-horizontal"} do |f| %>


                              <%= render 'posts/form', f: f %>


                              <div class="form-group">
                                <!-- Buttons -->
                                <div class="col-md-9 col-md-offset-3">
                                  <%= f.submit "Create Post", class:"btn btn-default" %>
                                  <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                              </div>
                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <!-- Blog Posts -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="posts">

            <!-- Each posts should be enclosed inside "entry" class" -->
            <!-- Post one -->

            <% unless @latest_post.blank? %>

            <div class="entry">
              <!-- Thumbnail -->

              <div class="row blog-header">

                <div class="col-md-2 col-sm-2">
                  <div class="bthumb2">
                    <a href="#">
                      <%= show_avatar(@latest_post) %>
                    </a>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <h5><%= @latest_post.title %></h5>
                  <h6><%= @latest_post.subtitle %></h6>
                  <div class="meta">
                    <i class="fa fa-calendar"></i> <%= format_date_number(@latest_post.created_at)  %><i class="fa fa-user"></i> <%= User.find_by_id(@latest_post.user_id).full_name %>
                  </div>
                </div>
              </div>
              <div class="home-post-content">
                <!--<p>Introduction:</p>-->
                <%= @latest_post.content.html_safe %>
              </div>
            </div>



            <div class="post-foot well">
              <!-- Social media icons -->
              <div class="social">
                <h6>Share it: </h6>
                <a href="#"><i class="fa fa-facebook facebook"></i></a>
                <a href="#"><i class="fa fa-twitter twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
              </div>
            </div>

            <% end %>
            <!-- Navigation -->
            <div class="clearfix"></div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="border"></div>


<!-- devotional starts -->

<div class="blog home devotional">
  <div class="row">
    <div class="col-md-12">
      <h3 class="bg-orange">God's Word for Today</h3>
      <div class="bor"></div>

      <% if user_signed_in? %>

          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Add New Devotional
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="cwell">
                        <!-- Contact form -->
                        <div class="form">
                          <%= form_for @devotional, html: {class: "form-horizontal"} do |f| %>


                              <%= render 'devotionals/form', f: f %>


                              <div class="form-group">
                                <!-- Buttons -->
                                <div class="col-md-9 col-md-offset-3">
                                  <%= f.submit "Create Devotional", class:"btn btn-default" %>
                                  <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                              </div>
                          <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


      <% end %>


      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="posts">

            <!-- Each posts should be enclosed inside "entry" class" -->
            <!-- Post one -->

            <% unless @latest_devotional.blank? %>
            <div class="entry">
              <!-- Thumbnail -->

              <div class="row blog-header">

                <div class="col-md-2 col-sm-2">
                  <div class="bthumb2">
                    <a href="#">
                      <%= show_avatar(@latest_devotional) %>
                    </a>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <a href="/devotionals"><h5><%= @latest_devotional.title %></h5></a>
                  <h6><%= @latest_devotional.subtitle %></h6>
                  <!-- Meta details -->
                  <div class="meta">
                    <i class="fa fa-calendar"></i> <%= format_date_number(@latest_devotional.posted_at)  %> <i class="fa fa-user"></i> <%= User.find_by_id(@latest_devotional.user_id).full_name %>
                  </div>
                </div>
              </div>
              <div class="home-post-content">
                <%= @latest_devotional.content.html_safe %>
              </div>
            </div>


            <div class="post-foot well">
              <!-- Social media icons -->
              <div class="social">
                <h6>Share it: </h6>
                <a href="#"><i class="fa fa-facebook facebook"></i></a>
                <a href="#"><i class="fa fa-twitter twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
              </div>
            </div>
            <% end %>
            <!-- Navigation -->

            <div class="clearfix"></div>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<!-- Blog ends -->

<div class="border"></div>

<div class="row ministries">
  <div class="col-md-12">
    <h3 class="bg-black">Ministries</h3>
    <div class="bor"></div>

    <!-- Image blocks starts -->

    <ul class="hover-block">

      <li>

        <a href="ministries#cluster2">
          <!-- Image -->
          <%= image_tag "ministries/clusters.jpg" %>
          <!-- Content with background color Class -->
          <div class="hover-content b-red">
            <h6>Clusters</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>


      <li>

        <a href="ministries#childrens-ministry">
          <%= image_tag "ministries/childrens-ministry.jpg" %>
          <div class="hover-content b-purple">
            <h6>Children's Ministry</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>


      <li>

        <a href="ministries#praise-and-worship">
          <%= image_tag "ministries/praise-and-worship.jpg" %>
          <div class="hover-content b-green">
            <h6>Praise and Worship</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>

      <li>

        <a href="ministries#multimedia-ministry">
          <%= image_tag "ministries/multimeda-ministry.jpg" %>
          <div class="hover-content b-blue">
            <h6>Multimedia Ministry</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>

      <li>

        <a href="ministries#men-in-bread">
          <%= image_tag "ministries/men-in-bread.jpg" %>
          <div class="hover-content b-lblue">
            <h6>Men in Bread</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>

      <li>

        <a href="ministries#women-of-bread">
          <%= image_tag "ministries/women-of-bread.jpg" %>
          <div class="hover-content b-orange">
            <h6>Women of Bread</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>
      <li>

        <a href="ministries#salt-and-light">
          <!-- Image -->
          <%= image_tag "ministries/salt-and-light.jpg" %>
          <!-- Content with background color Class -->
          <div class="hover-content b-red">
            <h6>Salt and Light</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>


      <li>

        <a href="ministries#young-peoples-fellowship">
          <%= image_tag "ministries/young-peoples-followship.jpg" %>
          <div class="hover-content b-purple">
            <h6>Young People's Fellowship</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>

      <li>

        <a href="ministries#teens-fellowship">
          <%= image_tag "ministries/teens-fellowship.jpg" %>
          <div class="hover-content b-green">
            <h6>Teens Fellowship</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>


      <li>

        <a href="ministries#kaagapay-ministry">
          <%= image_tag "ministries/kaagapay-ministry.jpg" %>
          <div class="hover-content b-blue">
            <h6>Kaagapay Ministry</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>


      <li>

        <a href="ministries#membership">
          <%= image_tag "ministries/membership.jpg" %>
          <div class="hover-content b-lblue">
            <h6>Membership</h6>
            Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit.
          </div>
        </a>

      </li>

    </ul>

    <div class="clearfix"></div>

    <!-- Image blocks ends -->
  </div>
</div>

<div class="bor"></div>

<div class="border"></div>



<!-- Color blocks starts -->

<div class="color-blocks">
  <div class="row">

    <div class="col-md-4">

      <div class="c-block">

        <!-- Left column with color background -->
        <div class="col-l b-red">
          <!-- Link -->
          <%= link_to(raw("<i class='fa fa-envelope-o'></i> Contact"), contact_path)  %>
        </div>

        <div class="col-r b-purple">
          <%= link_to(raw("<i class='fa fa-user'></i> About"), about_path)  %>
        </div>

      </div>

      <div class="clearfix"></div>

    </div>

    <div class="col-md-4">

      <div class="c-block">

        <!-- Left column with color background -->
        <div class="col-l b-green">
          <!-- Link -->
          <%= link_to(raw("<i class='fa fa-book'></i> Sermons"), sermons_path)  %>
        </div>

        <div class="col-r b-blue">
          <%= link_to(raw("<i class='fa fa-group'></i> Ministries"), ministries_path )  %>
        </div>

      </div>

      <div class="clearfix"></div>

    </div>

    <div class="col-md-4">

      <div class="c-block">

        <!-- Left column with color background -->
        <div class="col-l b-lblue">
          <!-- Link -->
          <%= link_to(raw("<i class='fa fa-calendar'></i> Events"), events_path )  %>

        </div>

        <div class="col-r b-orange">
          <%= link_to(raw("<i class='fa fa-picture-o'></i> Gallery"), galleries_path )  %>
        </div>

      </div>

      <div class="clearfix"></div>

    </div>

  </div>
</div>


<!-- Color blocks ends -->