<%= title('Ministries') %>

<div class="content">
  <div class="container">

    <h2>Ministries</h2>
    <!--<p class="big grey">Something Goes Here.</p>-->
    <hr />

    <div class="features-one">

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Posuere turpis eulaoreet</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Fusce imperdiet ornare dignissim</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Posuere turpis eulaoreet</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Fusce imperdiet ornare dignissim</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Posuere turpis eulaoreet</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Fusce imperdiet ornare dignissim</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Posuere turpis eulaoreet</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Fusce imperdiet ornare dignissim</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Posuere turpis eulaoreet</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Fusce imperdiet ornare dignissim</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
    </div>



  </div>
</div>
