<%= title('Ministries') %>

<div class="content">
  <div class="container">

    <h2>Ministries</h2>
    <!--<p class="big grey">Something Goes Here.</p>-->
    <hr />

    <div class="features-one">

      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Cluster 1</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />

      <div class="row" id="cluster2">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Cluster 2</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Cluster 3</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row" id="childrens-ministry">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Children's Ministry</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row" id="praise-and-worship">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Praise and Worship</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row" id="multimedia-ministry">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Multimedia Ministry</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row" id="men-in-bread">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Men in Bread</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row" id="women-of-bread">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Women of Bread</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row" id="salt-and-light">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Salt and Light</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row" id="young-peoples-fellowship">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Young People's Fellowship</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row" id="teens-fellowship">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Teens Fellowship</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
      <div class="row" id="kaagapay-ministry">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/1.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Kaagapay Ministry</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr />
      <div class="row" id="membership">
        <div class="col-md-6 col-sm-6">
          <%= image_tag "parallax/2.png", class: "img-responsive", alt: "" %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4>Membership</h4>
          <p>Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet.</p>
        </div>
      </div>
      <hr/>
    </div>



  </div>
</div>
