<div class="form-group">
  <div class="col-md-12">
    <%= render 'shared/error_messages', object: f.object  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :avatar, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <% if @user.avatar.blank? %>
        <%= image_tag "people/default.jpg", alt: "No Avatar Yet" %>
    <% else %>
        <%= image_tag @user.avatar.url(:standard), alt: "No Avatar Yet" %>
    <% end  %>
    <%= f.file_field :avatar, class:"form-control" %>
    <%= f.hidden_field :avatar_cache %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class:"control-label col-md-3" %>
  <div class="col-md-6">
    <%= f.text_field :last_name, class:"form-control", id:"last_name" %>

  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, class:"control-label col-md-3" %>
  <div class="col-md-6">
    <%= f.text_field :first_name, class:"form-control", id:"first_name" %>

  </div>
</div>

<div class="form-group">
  <%= f.label :email, class:"control-label col-md-3" %>
  <div class="col-md-6">
    <%= f.text_field :email, class:"form-control", id:"email" %>

  </div>
</div>

<div class="form-group">
  <%= f.label :password, class:"control-label col-md-3" %>
  <div class="col-md-6">
    <%= f.password_field :password, class:"form-control", id:"password" %>

  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class:"control-label col-md-3" %>
  <div class="col-md-6">
    <%= f.password_field :password_confirmation, class:"form-control", id:"password_confirmation" %>

  </div>
</div>
