<%= title(@user.full_name) %>

    <h2><%= @user.full_name %></h2>
    <hr />


    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="cwell">
          <!-- Contact form -->
          <h5>User Information</h5>

          <% if !flash.empty? %>
              <div class="alert alert-success"> <%= notice %></div>
          <% end  %>


          <div class="show-info show-info-striped">

            <div class="show-info-row">
              <div class="show-info-name"> Avatar </div>
              <div class="show-info-value">
                <span class="editable editable-click" id="avatar">
                <%= show_user_avatar(@user) %>
                </span>
              </div>
            </div>

            <div class="show-info-row">
              <div class="show-info-name"> Email </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="email"><%= @user.email %></span>
              </div>
            </div>

            <div class="show-info-row">
              <div class="show-info-name"> Full Name </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="last_name"><%= @user.full_name %></span>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

