<div class="form-group">
  <div class="col-md-12">
    <%= render 'shared/error_messages', object: f.object  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :title, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.text_field :title, class:"form-control", id:"title" %>

  </div>
</div>
<!-- Ministry -->
<div class="form-group">
  <%= f.label :ministry, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.select "ministry", Ministry.all.collect {|ministry| [ ministry.name, ministry.name ] }, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :start_date, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.datetime_select :start_date, class:"form-control", id:"start_date"  %>
  </div>
</div>

<div class="form-group">
  <%= f.label :end_date, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.datetime_select :end_date, class:"form-control", id:"end_date"  %>
  </div>
</div>


<div class="form-group">
  <%= f.label :picture, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= image_tag @event.picture.url, width: "100%", alt: "No Picture Yet" %>
    <%= f.file_field :picture, class:"form-control" %>
    <%= f.hidden_field :picture_cache %>
  </div>
</div>

<div class="form-group">
  <%= f.label "For Announcement (Please use 1920px x 514px picture)", class:"control-label col-md-3" %>
  <div class="col-md-9">

    <%= image_tag @event.announcement.url, width: "100%", alt: "No Picture Yet" %>
    <%= f.file_field :announcement, class:"form-control" %>
    <%= f.hidden_field :announcement_cache %>
  </div>
</div>

<div class="form-group">
  <%= f.label :show_in_homepage, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.check_box :display_to_home %>
  </div>
</div>

<!-- Content -->
<div class="form-group">
  <%= f.label :content, class:"control-label col-md-3" %>
  <div class="col-md-9">
    <%= f.text_area :content, class:"form-control", id:"content"  %>
  </div>
</div>


