<%= title('Events') %>

<div class="content">
  <div class="container">

    <h2>Events</h2>

    <p class="big grey"><%= format_fullmonth_year(@events_date) %></p>
    <hr />

    <div class="row">
      <div class="col-md-12">

        <!-- Events starts -->

        <div class="events">
          <div class="row">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-12">


                  <% @events.each do |event| %>
                      <div class="rblock">
                        <div class="row">
                          <div class="col-md-3">
                            <h4><%= event.title %></h4>
                          </div>
                          <div class="col-md-9">
                            <div class="rinfo">
                              <h5><%= event.ministry %></h5>
                              <div class="rmeta">
                                <i class="fa fa-calendar"></i>
                                <%= format_date_number(event.start_date) %><% isEventSameDate?(event.start_date, event.end_date) ? '' : 'to '+format_date_number(event.end_date) %>
                                @ <%= format_date_time(event.start_date)+' - '+format_date_time(event.end_date) %>
                              </div>
                              <%= image_tag "announcements/mint2.jpg", class: "img-responsive" %>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.  Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <hr />
                  <% end %>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>