<%= title('Devotional') %>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="content">
  <div class="container">

    <h2>Devotionals</h2>
    <hr />

    <!-- Blog starts -->

    <div class="blog">
      <div class="row devotional">
        <div class="col-md-12">

          <!-- Blog Posts -->
          <div class="row">

            <div class="col-md-4 col-sm-4">
              <div class="sidebar">
                <!-- Widget -->
                <div class="widget">
                  <h4>Choose Month</h4>
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text" value="" name="searchDate" id="month-datepicker" class="form-control" placeholder="Enter month..."/>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                  </form>
                </div>
                <div class="widget">
                  <h4><%= format_fullmonth_year(@devotionals_date) %> Devotionals</h4>
                  <ul>
                    <% if @devotionals.empty? %>
                        No Devotionals
                    <% end %>
                    <% @devotionals.each do |devotional| %>
                        <li>
                          <%= link_to format_date_number(devotional.posted_at)+' | '+devotional.title, devotional  %>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-md-8 col-sm-8">
              <div class="posts">

                <!-- Each posts should be enclosed inside "entry" class" -->

                <% unless @devotional.blank? %>

                <div class="entry">
                  <!-- Thumbnail -->

                  <div class="row blog-header">

                    <div class="col-md-3 col-sm-3">
                      <div class="bthumb2">
                        <a href="#"><%= show_avatar(@devotional) %></a>
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                      <h2><%= @devotional.title %></h2>
                      <h4><%= @devotional.subtitle %></h4>
                      <!-- Meta details -->
                      <div class="meta">
                        <i class="fa fa-calendar"></i> <%= format_date_number(@devotional.posted_at) %> <i class="fa fa-user"></i> <%= User.find_by_id(@devotional.user_id).full_name %>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <%= @devotional.content.html_safe %>
                  </div>
                </div>



                <div class="post-foot well">
                  <!-- Social media icons -->
                  <div class="social">
                    <h6>Share it: </h6>
                    <a href="#"><i class="fa fa-facebook facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest pinterest"></i></a>
                    <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
                  </div>
                </div>
                <% end %>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>


  </div>
</div>
