<%= title(@sermon.title) %>

    <h2>Show Sermon</h2>
    <hr />


    <div class="row devotional">
      <div class="col-md-12 col-sm-12">
        <div class="cwell">
          <!-- Contact form -->
          <h5><%= @sermon.title %></h5>

          <% if !flash.empty? %>
              <div class="alert alert-success"> <%= notice %></div>
          <% end  %>

          <div class="show-info show-info-striped">
            <div class="show-info-row">
              <div class="show-info-name"> Subtitle </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="email"><%= @sermon.subtitle %></span>
              </div>
            </div>

            <div class="show-info-row">
              <div class="show-info-name"> Author </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="last_name"><%= User.find_by_id(@sermon.user_id).full_name %></span>
              </div>
            </div>

            <div class="show-info-row">
              <div class="show-info-name"> Date </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="first_name"><%= format_short_date(@sermon.posted_at) %></span>
              </div>
            </div>

            <div class="show-info-row">
              <div class="show-info-name"> Content </div>

              <div class="show-info-value">
                <span class="editable editable-click" id="first_name"><%= @sermon.content.html_safe %></span>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <%= link_to 'Edit', edit_sermon_path(@sermon) %> |
    <%= link_to 'Back', list_sermons_path %>
