<%= title('Sermons') %>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="content">
<div class="container">

<h2>Sermons</h2>
<hr />

<!-- Blog starts -->

<div class="blog">
  <div class="row sermon">
    <div class="col-md-12">

      <!-- Blog Posts -->
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <div class="sidebar">
            <!-- Widget -->
            <div class="widget">
              <h4>Choose Month</h4>
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" value="" name="searchDate" id="month-datepicker" class="form-control" placeholder="Enter month..."/>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4><%= format_fullmonth_year(@sermons_date) %> Sermons</h4>
              <ul>
                <% if @sermons.empty? %>
                    No Sermons
                <% end %>
                <% @sermons.each do |sermon| %>
                    <li>
                      <%= link_to format_date_number(sermon.posted_at)+' | '+sermon.title, sermon  %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-8 col-sm-8">
          <div class="posts">

            <% unless @sermons.blank? %>
            <% @sermons.each do |sermon| %>
                <div class="entry">
                  <h2><%= link_to sermon.title, sermon %></h2>
                  <h5><%= sermon.subtitle %></h5>

                  <!-- Meta details -->
                  <div class="meta">
                    <i class="fa fa-calendar"></i> <%= format_date_number(sermon.posted_at) %> <i class="fa fa-user"></i> <%= User.find_by_id(sermon.user_id).full_name %> </span>
                  </div>

                  <!-- Thumbnail -->
                  <div class="bthumb2">
                    <a href="#"><%= show_avatar(sermon) %></a>
                  </div>

                  <%= sermon.content[0..255].html_safe+"..."%>
                  <div class="button"><%= link_to "Read More...", sermon  %></div>
                  <div class="clearfix"></div>
                </div>

            <% end %>
            <% end %>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>


</div>
</div>
