<%= title('Sermons') %>

<div class="content">
  <div class="container">

    <h2>Listing Sermons</h2>
    <hr />

    <% unless @sermons.blank?  %>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Sermon Date</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @sermons.each do |sermon| %>
              <tr>
                <td><%= sermon.title %></td>
                <td><%= User.find_by_id(sermon.user_id).full_name %></td>
                <td><%= format_short_date(sermon.posted_at) %></td>
                <td><%= link_to 'Show', display_sermon_path(sermon) %></td>
                <td><%= link_to 'Edit', edit_sermon_path(sermon) %></td>
                <td><%= link_to 'Delete', sermon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>

    <%= will_paginate %>
    <% else  %>
    <p>No Sermons to Display</p>
    <% end  %>
    <p><%= link_to 'New Sermon', new_sermon_path %></p>
  </div>
</div>




