<%= title('Sermons') %>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="content">
  <div class="container">

    <h2>Sermons</h2>
    <hr />

    <!-- Blog starts -->

    <div class="blog">
      <div class="row sermon">
        <div class="col-md-12">

          <!-- Blog Posts -->
          <div class="row">

            <div class="col-md-4 col-sm-4">
              <div class="sidebar">
                <!-- Widget -->
                <div class="widget">
                  <h4>Choose Month</h4>
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text" value="" name="searchDate" id="month-datepicker" class="form-control" placeholder="Enter month..."/>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                  </form>
                </div>
                <div class="widget">
                  <h4><%= format_fullmonth_year(@sermons_date) %> Sermons</h4>
                  <ul>
                    <% if @sermons.empty? %>
                        No Sermons
                    <% end %>
                    <% @sermons.each do |sermon| %>
                        <li>
                          <%= link_to format_date_number(sermon.posted_at)+' | '+sermon.title, sermon_path(sermon, searchDate: params[:searchDate])  %>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-md-8 col-sm-8">
              <div class="entry">
                <!-- Thumbnail -->

                <div class="row blog-header">

                  <div class="col-md-3 col-sm-3">
                    <div class="bthumb2">
                      <a href="show"><%= show_avatar(@sermon) %></a>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-9">
                    <h2><%= @sermon.title %></h2>
                    <h4><%= @sermon.subtitle %></h4>
                    <!-- Meta details -->
                    <div class="meta">
                      <i class="fa fa-calendar"></i> <%= format_date_number(@sermon.posted_at) %><i class="fa fa-user"></i> <%= User.find_by_id(@sermon.user_id).full_name %>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <%= @sermon.content.html_safe %>
                </div>
              </div>

              <div class="post-foot well">
                <!-- Social media icons -->
                <div class="social">
                  <h6>Share it: </h6>
                  <a href="#"><i class="fa fa-facebook facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin linkedin"></i></a>
                  <a href="#"><i class="fa fa-pinterest pinterest"></i></a>
                  <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
                </div>
              </div>

              <hr>
            </div>

          </div>



        </div>
      </div>
    </div>

    <hr/>

  </div>
</div>
