<%= title('Events') %>


    <h2>Gallery</h2>
    <hr />

    <div class="blog albums">
      <div class="row">
        <div class="col-md-12">

          <!-- Blog Posts -->
          <div class="row">

            <div class="col-md-4 col-sm-4">
              <div class="sidebar">
                <!-- Widget -->
                <div class="widget">
                  <h4>Albums</h4>
                  <ul>
                    <% if @albums.empty? %>
                        No Albums
                    <% end %>
                    <% @albums.each do |album| %>
                        <li>
                          <a class="filter" data-filter=".<%= "album-#{album.id}" %>"><%= album.title %></a>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-8 col-sm-8" id="gallery-list" >

              <% if @albums.empty? %>
                  No Albums
              <% end %>
              <% @albums.each do |album| %>
                  <div class="mix gallery <%= "album-#{album.id}" %>">
                    <h4 style="text-align: left"><%= album.title %></h4>
                    <hr/>
                    <!-- Full size image link in anchor tag. Thumbnail link in image tag. -->
                    <% if album.images.present? %>
                          <% album.images.each do |image| %>

                            <%= link_to image_tag("loader.gif", class: "lazy prettyphoto", data: { original: image.file_url(:square)}), image.file_url, class: "prettyphoto", rel: "prettyPhoto["+album.title+"]"  %>

                          <% end %>
                    <% else  %>
                          <span class="editable editable-click" id="first_name">No Images to Display</span>
                    <% end %>


                  </div>
              <% end %>

            </div>


          </div>



        </div>
      </div>
    </div>

    <hr/>
