<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "custom", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "font-awesome", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "prettyPhoto", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "slider", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "flexslider", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "style", media: "all", "data-turbolinks-track" => true %>

  <!--<%= javascript_include_tag "application", "data-turbolinks-track" => true %>-->
  <!--<%= javascript_include_tag "html5shim" %>-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.isotope", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.prettyPhoto", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.cslider", "data-turbolinks-track" => true %>
<%= javascript_include_tag "modernizr.custom.28468", "data-turbolinks-track" => true %>
<%= javascript_include_tag "filter", "data-turbolinks-track" => true %>
<%= javascript_include_tag "cycle", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.flexslider-min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "easing", "data-turbolinks-track" => true %>
<%= javascript_include_tag "readmore", "data-turbolinks-track" => true %>
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>

<%= render 'layouts/footer' %>


</body>
</html>

